/*'Rubik Beastly', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slider-container {
    height: 600px;
    display: inline-flex;
    overflow: hidden;
    scrollbar-width: none;
    transform: translateX(0);
    will-change: transform;
    transition: transform 0.3s ease-out;
    cursor: grab;
}

.slide{
    max-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    user-select: none;
    transition: transform 0.3s ease-in-out;
}

@media(min-width: 1200px){
    .slide {
        padding: 3rem;
    }
}

.card{
    position: relative;
    width: 200px;
    height: 350px;
    margin-top: 150px;
    background-color: white;
    box-shadow: 0 10px 30px rgba(255, 255, 255, .1),
    inset 10px 10px 50px rgba(129, 107, 59, 0.76);
    transition: transform .3s ease-in-out;
    user-select: none;
    overflow: hidden;
    z-index: 2;
}

.card::before{
    content:"";
    position: absolute;
    left: 0;
    bottom: calc(-100% + 5px); 
    width: 100%;
    height: 100%;
    background-color: #ff56ac;
    box-shadow: inset 5px 5px 50px rgba(49, 20, 20, 0.76);
    z-index: 1;
    transition: bottom .5s ease-in-out;    
}
.card:hover::before{
    bottom: 0;        
}

.card::after{
    content: "";
    position: absolute;
    top: 310px;
    right: 100px;
    width: 200%;
    height: 150px;
    background: rgba(238, 187, 231, .7);
    box-shadow: 20px 20px 40px rgb(255, 255, 255);
    transform: skewY(40deg);
    z-index: 4;
    filter: blur(4px);
}

.card:hover::after{
    animation: shiningLove .3s ease-in-out .5s;
}

.card__content {
    padding:20px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    color: rgb(0, 0, 0);
    z-index: 2;
    transition: color .7s ease-in;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .8);
}
.card__content:hover{
    color: rgb(255, 255, 255);  
}
.card__content--title {
    font-family: "Amiri";
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 2.2rem;
    border-top: 2px double black;
    border-bottom: 2px double black;
}    
.card__content--par{
    align-self: center;
    font-family: "Antic Didone";
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1rem ;
    text-align: center;
    line-height: 18px;
    letter-spacing: 1px;
}
.card__content--par2{
    align-self: center;
    font-family: "Antic Didone";
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 1rem ;
    text-align: center;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1px;
}   

.grabbing {
    cursor: grabbing;
}
.grabbing .card {
    transform: scale(.9);
} 

@keyframes shiningLove {
    0%{
        top: 310px;
        right: 100px;
        background: rgba(238, 187, 231, .7);
    }
    
    100% {
        top: -250px;
        right: -150px;
        background: white;
    }
}

.btn{
    width: 100px;
    height: 40px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    font-family: "Antic Didone";
    align-self: center;
    justify-self: baseline;
    box-shadow: 10px 10px 30px rgba(3, 3, 3, 1);
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 6px 10px;
    font-weight: 600;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    z-index: 10;
}

/*
.slide img{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 5px 5px 50px -1px var(--shadow);
    border-radius: 4px;
    user-select: none;
}
*/
.grabbing {
    cursor: grabbing;
}

.grabbing .slide img{
    transform: scale(0.9);
    box-shadow: 5px 5px 40px -1px var(--shadow);
}
